.background {
  width: 100%;
}
.configuration {
  margin: 50px auto;
  padding: 0 25px;

  @media (max-width: 768px) {
    padding: 0 15px;
  }

  @media (max-width: 500px) {
    padding: 0 10px;
  }
  
  .blocks {
    display: grid;
    justify-content: center;
    .chicken-title {
      font-size: 30px;
      font-weight: 700;
      color: black;
      margin-bottom: 39px;
      text-align: left;
    }
    .block-group {
      display: flex;
      row-gap: 50px;
      column-gap: 58px;
      @media only screen and (max-width: 1217px) {
        display: grid;
      }
      .customize-block {
        .block-content {
          display: flex;
          column-gap: 60px;
          @media only screen and (max-width: 860px) {
            column-gap: 40px;
          }
          @media only screen and (max-width: 578px) {
            display: grid;
          }

          padding: 55px 57px 33px 70px;
          @media only screen and (max-width: 860px) {
            padding: 30px 30px 20px 35px;
          }
          background-color: #ffffff;
          border-radius: 15px;
          @media only screen and (max-width: 1217px) {
            justify-content: center;
          }
          .add-cart {
            margin-top: 76px;
            @media only screen and (max-width: 860px) {
              margin: 20px auto 0px;
            }
            .quantity-price {
              display: flex;
              align-items: center;
              justify-content: space-between;
              column-gap: 30px;
              .price {
                color: #FCA017;
                font-size: 28px;
                font-weight: 600;
              }
            }
            .button {
              width: 100%;
              margin-top: 30px;
              @media only screen and (max-width: 860px) {
                margin-top: 15px;
              }
              button {
                margin-bottom: 0px;
                width: 100%;
              }
            }
          }
          .note {
            row-gap: 9px;
            width: 200px;
            margin-top: 30px;
            .option {
              display: flex;
              align-items: center;
              color: #FCA017;
              font-size: 15px;
              column-gap: 10px;
              font-weight: 400;
              .txt {
                color: black;
              }
            }
          }
        }
      }
      .select-block {
        display: grid;
        row-gap: 10px;
        max-width: 950px;
        .select-block-title {
          font-size: 15px;
          font-weight: 400;
          text-align: left;
        }
        .top-bottom {
          display: grid;
          row-gap: 10px;
          .top-block {
            display: flex;
            justify-content: center;
            column-gap: 10px;
            row-gap: 10px;
            flex-wrap: wrap;
          }
          .bottom-block {
            border: 1px solid #FCA017;
            border-radius: 10px;
            .bottom-content {
              padding: 10px 10px;
              .bottom-title {
                font-size: 15px;
                font-weight: 600;
                text-align: left;
                padding: 0px;
              }
              .option-group {
                display: flex;
                margin: 0px;
                flex-wrap: wrap;
                .new-option {
                  display: flex;
                  align-items: center;
                  margin-top: 10px;
                  padding: 0px;
                  width: 25%;
                  @media only screen and (max-width: 1422px) {
                    width: 33.333%;
                  }
                  @media only screen and (max-width: 1217px) {
                    width: 25%;
                  }
                  @media only screen and (max-width: 645px) {
                    width: 33.33%;
                  }
                  @media only screen and (max-width: 508px) {
                    width: 50%;
                  }
                  @media only screen and (max-width: 350px) {
                    width: 100%;
                  }
                  .new-check {
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid #FCA017;
                  }
                  .new-content {
                    margin-left: 10px;
                    font-size: 15px;
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}