@import '../../assets/css/responsive.scss';

.button {
  display: flex;
  justify-content: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 30px;
    @media only screen and (max-width: $x-size) {
      margin-bottom: 0;
    }

    @media only screen and (max-width: $x-s-size) {
      font-size: 1rem;
      height: 30px;
    }

    @media only screen and (max-width: $s-size) {
      font-size: 0.8rem;
    }

    &:hover {
      // background-color: #ffffff;
      color: #FCA017;
      border: 1px solid #FCA017;
      transition-duration: 0.3s, 0.5s;
      cursor: pointer;
    }
  }
}
