@import '../../assets/css/responsive.scss';

.quantity-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .quantity-input__modifier {
        background-color: transparent;
        border: none;
        color: #FCA017;
        font-size: 30px;
        cursor: pointer;
    }

    .quantity-input__screen {
        text-align: center;
        width: 45px;
        height: 45px;
        border: none;
        background-color: #FCA017;
        color: #ffffff;
        border-radius: 5px;
        font-size: 30px;
        cursor: pointer
    }
}