.footer {
  background-color: #FCA017;
  color: #3C1C21;
  clear: both;
  .content {
    padding: 90px 50px;
    @media only screen and (max-width: $breakpoint-medium) {
      padding: 70px 0px;
    }

    .navbar {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      max-width: 1600px;
      padding: 0px 10px;
      margin: auto;
      .logo {
        width: 12%;
      }

      .footer-container {
        width: 35%;
        display: flex;
        justify-content: space-around;

        .footer-link {
          text-align: left;
          line-height: 40px;
          width: 50%;
  
          .footer-link-title {
            color: #3C1C21;
            text-decoration: none;
            font-size: 30px;
          }
  
          .footer-link-text {
            color: #3C1C21;
            text-decoration: none;
            font-size: 18px;
          }
        }

        @media only screen and (max-width: $breakpoint-medium) {
          width: 44%;
        }

        @media only screen and (max-width: $x-size) {
          width: 80%;
        }

        @media only screen and (max-width: $x-s-size) {
          display: block;
        }
      }

      @media only screen and (max-width: $breakpoint-medium) {
        .logo {
          display: none;
        }
      }
    }
  }
}
