.dip-content {
  display: grid;
  gap: 10px;
  .individual-checkbox {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    .checkbox-symbol {
      display: flex;
      border: 2px solid gray;
      border-radius: 3px;
      width: 24px;
      height: 24px;
      .check {
        font-size: 20px;
        color: white;
      }
    }
    .checked {
      border: 2px solid #0072E5;
      background-color: #0072E5;
    }
    .checkbox-content {
      display: flex;
      width: -webkit-fill-available;
      justify-content: space-between;
      .checkbox-label {
        font-size: 20px;
      }
      .checkbox-price {
        font-size: 20px;
      }
      .checked-label {
        color: #0072E5;
      }
    }
    
  }
}

#footer-part {
  justify-content: space-between;
}
.modal-footer {
  padding: 16px;
  .combo-price {
    font-size: 1.5rem;
    font-weight: 500;
    color: #0072E5;
  }
  .NextButton {
    .button {
      button {
        width: 150px;
        margin-bottom: 0px;
      }
    }
  }
}
