.customization-page {
  .top-tabs {
    background: #fff;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .tab-item {
      width: 300px;
      vertical-align: middle;
      line-height: 60px;
      text-align: center;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      @media (max-width: 700px) {
        width: 200px;
      }

      &:hover {
        cursor: pointer;
      }
      svg {
        margin-right: 10px;
      }
    }

    .active-tab {
      background-color: #FCA017;
      color: #fff;

      svg {
        fill: #fff;
      }
    }
  }

  .tab-content {
    max-width: 100%;
    .tab-1 {
      width: 100%;
    }
    .tab-2 {
      width: 100%;
    }
    .tab-3 {
      width: 100%;
    }
    .tab-4 {
      width: 100%;
    }
  }

  .pizza-board {
    background-color: #fff;
    max-width: 100%;
    padding: 1rem 2rem;
    padding-bottom: 3rem;
    text-align: center;

    .title {
      font-size: 30px;
      color: #FCA017;
    }

    .configuration {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;

      .criteria {
        width: 320px;

        .criteria-item {
          margin: 0.5rem 0;
          display: flex;
          align-items: center;

          span {
            display: inline-block;
            text-align: left;
          }

          svg {
            fill: #FCA017;
            margin-right: 0.5rem;
          }
        }
      }

      .pizza-piece {
        max-width: 100%;
        position: relative;
        .multiTopping {
          max-width: 100%;
          position:absolute;
          top: 0px;
          left: 0px;
        }
      }

      .add-cart {
        padding-left: 60px;

        & > div {
          max-width: 260px;

          .quantity-price {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .price {
              font-size: 30px;
              color: #FCA017;
            }
          }
          
          .desc {
            margin: 1rem 0;
            font-size: 15px;
          }

          .cart-button {
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .sub-tabs {
    width: fit-content;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .sub-tab-item {
      width: 170px;
      border: 1px solid #FCA017;
      line-height: 45px;

      &:nth-child(even) {
        width: 50px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .active-sub-tab {
      background-color: #FCA017;
      color: #fff;
    }
  }

  .ingredients {
    display: flex;
    flex-wrap: wrap;
    .title {
      float: left;
      font-family: proxima-nova,sans-serif;
      font-weight: 800;
      color: #ee5a00;
    }
    .icon-half {
      display: flex;
      column-gap: 15px;
      button {
        border: none;
        color: #4e7026;
        background: none;
        font-size: 25px;
      }
      .flip {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
    .price {
      display: flex;
      align-items: center;
      color: #ee5a00;
      column-gap: 30px;
      span {
        font-size: 20px;
        font-weight: 600;
      }
    }
    .ingredient-item {
      background: url("../../assets/img/small-bg.png");
      background-size: 100% 100%;
      width: 237px;
      height: 200px;
      margin: 1rem 0.5rem;
      position: relative;
      transition: all .5s ease-out;
      border-radius: 8px;
      border: 1px solid #e1e7e9;
      &:hover {
        cursor: pointer;
      }
      .ingredient-detail {
        padding: 15px 15px;
        .title {
          float: left;
          font-family: proxima-nova,sans-serif;
          font-weight: 800;
          color: #ee5a00;
        }
  
        .ingredient-name {
          float: left;
          text-align: left;
          font-size: 15px;
          color: #3C1C21;
          font-weight: 800;
          margin-top: 10px;
        }
  
        .ingredient-cals {
          font-size: 15px;
          color: #3C1C21;
          float: left;
          font-weight: 800;
          margin-top: 10px;
        }
      }

      .ingredient-img {
        width: 80%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        img {
          max-width: 100%;
        }
      }
      .ingredient-img-selected {
        width: 50%;
        position: absolute;
        top: 80px;
        transition: all .5s ease-out;
      }
      .ingredient-detail-selected {
        margin-left: 300px;
        margin-top: 30px;
        margin-right: 20px;
        text-align: left;
        color: #4e7026;
        transition: all .5s ease-out;
        .ingredient-title-selected {
          font-size: 18px;
          font-weight: 800;
          transition: all .5s ease-out;
        }
        .ingredient-cals-selected {
          margin-top: 20px;
          font-size: 18px;
          font-weight: 800;
          transition: all .5s ease-out;
        }
      }
    }
    .baseSauce-item {
      background: url("../../assets/img/small-bg.png");
      background-size: 100% 100%;
      width: 237px;
      height: 200px;
      margin: 1rem 0.5rem;
      position: relative;
      transition: all .5s ease-out;
      border-radius: 8px;
      border: 1px solid #e1e7e9;
      .img-wrap {
        position: relative;
        height: 100%;
        overflow: hidden;
        .baseSauce-detail {
          padding: 15px 15px;
          .baseSauce-name {
            float: left;
            text-align: left;
            font-size: 15px;
            color: #3C1C21;
            font-weight: 800;
            margin-top: 5px;
          }
          .icon {
            font-size: 25px;
            color: #ee5a00;
            float: left;
          }
          .baseSauce-cals {
            clear: both;
            font-size: 15px;
            color: #3C1C21;
            float: left;
            font-weight: 800;
          }
        }
        .baseSauce-img {
          position: absolute;
          width: 80%;
          left: 10%;
          top: 50%;
          img {
            max-width: 100%;
          }
        }
      }
      .selected {
        display: flex;
        position: relative;
        .baseSauce-img-selected {
          width: 40%;
        }
        .baseSauce-detail-selected {
          margin-top: 20px;
          text-align: left;
          color: #4e7026;
          transition: all .5s ease-out;
          font-size: 18px;
          font-weight: 800;
          .icon {
            font-size: 25px;
            color: #ee5a00;
          }
        }
        .quantity {
          position: absolute;
          bottom: 30px;
          right: 30px;
          display: flex;
          align-items: center;
          button {
            border: none;
            background: none;
            color: #4e7026;
            font-size: 25px;
          }
          .quan-detail {
            color: #4e7026;
            font-size: 25px;
          }
        }
      }
      
    }
    .active {
      width: 490px;
      transition: all .5s ease-out;
      border: 3px solid #ee5a00;
      border-radius: 10px;
    }
  }
}


@import '../../components/Product/product2.scss'