.customization-page {
  margin: 0 auto;
  // padding: 0 25px;

  @media (max-width: 768px) {
    padding: 0 15px;
  }

  @media (max-width: 500px) {
    padding: 0 10px;
  }
  .top-tabs {
    background: #fff;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .tab-item {
      width: 300px;
      vertical-align: middle;
      line-height: 60px;
      text-align: center;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
      svg {
        margin-right: 10px;
      }
    }

    .active-tab {
      background-color: #FCA017;
      color: #fff;

      svg {
        fill: #fff;
      }
    }
  }

  .tab-content {
    max-width: 100%;
    .tab-1 {
      width: 100%;
    }
    .tab-2 {
      width: 100%;
    }
    .tab-3 {
      width: 100%;
    }
    .tab-4 {
      width: 100%;
    }
  }
  .pizza-board {
    background-color: #fff;
    max-width: 1600px;
    margin: auto;
    padding: 1rem 2rem;
    padding-bottom: 3rem;
    text-align: center;

    .title {
      font-size: 30px;
      color: #FCA017;
      @media only screen and (max-width: 500px) {
        font-size: 25px;
      }
    }

    .configuration {
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      column-gap: 150px;
      @media only screen and (max-width: 860px) {
        display: grid;
        margin-top: 20px;
        .criteria {
          margin: 0px auto;
        }
        .pizza-piece {
          width: 100%;
          margin: auto;
        }
      }
      @media only screen and (max-width: 1113px) {
        column-gap: 100px;
      }
      @media only screen and (max-width: 950px) {
        column-gap: 60px;
      }
      .criteria {
        width: 300px;
        margin-bottom: 30px;
        .criteria-item {
          margin: 0.5rem 0;
          display: flex;

          span {
            display: inline-block;
            text-align: left;
          }

          svg {
            fill: #FCA017;
            margin-right: 0.5rem;
          }
        }
      }

      .pizza-piece {
        max-width: 100%;
        position: relative;
        .multiTopping {
          max-width: 100%;
          position:absolute;
          top: 10px;
          left: 0px;
          @media only screen and (max-width: 850px) {
            top: 10px;
            left: 15px;
          }
          img {
            width: 90%;
          }
        }
      }

      .add-cart {
        width: 300px;
        margin: auto 0px;
        @media only screen and (max-width: 860px) {
          margin: 30px auto;
        }
        .quantity-price {
          display: flex;
          justify-content: space-between;
          column-gap: 30px;
          align-items: center;
          @media only screen and (max-width: 1113px) {
            display: grid;
            justify-content: center;
            row-gap: 20px;
          }
          .price {
            font-size: 30px;
            color: #FCA017;
          }
        }
        .select-size {
          background-color: white;
          border: 1px solid gray;
          display: flex;
          .select-individual {
            width: 25%;
          }
        }
          
        .desc {
          margin: 1rem 0;
          font-size: 15px;
        }

        .cart-button {
          margin-top: 30px;
          button {
            width: 100%;
            margin-bottom: 0px;
            margin-right: 0px;
          }
        }
      }
    }
  }


  .sub-tabs {
    width: fit-content;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    @media only screen and (max-width: 860px) {
      margin: 20px auto;
    }
    .sub-tab-item {
      width: 170px;
      line-height: 45px;
      font-size: 20px;
    }

    .active-sub-tab {
      background-color: #FCA017;
      color: #fff;
    }
  }
  .sub-tab-content {
    max-width: 1600px;
    margin: auto;
  }
  .ingredients {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 70px;
    margin-bottom: 100px;
    @media only screen and (max-width: 860px) {
      margin-top: 40px;
      margin-bottom: 60px;
    }
    .title {
      float: left;
      font-family: proxima-nova,sans-serif;
      font-weight: 800;
      color: #ee5a00;
    }
    .icon-half {
      display: flex;
      align-items: center;
      column-gap: 20px;
      button {
        border: none;
        color: gray;
        background: none;
        font-size: 25px;
        padding: 0px;
      }
      .flip {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      .activeBtn {
        color: #4e7026;
      }
    }
    .price {
      display: flex;
      align-items: center;
      color: #ee5a00;
      column-gap: 10px;
      span {
        font-size: 20px;
        font-weight: 600;
      }
    }
    .ingredient-item {
      background: url("../../assets/img/small-bg.png");
      background-size: 100% 100%;
      width: 237px;
      height: 200px;
      margin: 1rem 0.5rem;
      position: relative;
      transition: all .5s ease-out;
      border-radius: 8px;
      border: 1px solid #e1e7e9;
      
      .ingredient-detail {
        padding: 15px 15px;
        .title {
          float: left;
          font-family: proxima-nova,sans-serif;
          font-weight: 800;
          color: #ee5a00;
        }
  
        .ingredient-name {
          float: left;
          text-align: left;
          font-size: 15px;
          color: #3C1C21;
          font-weight: 800;
          margin-top: 10px;
        }
  
        .ingredient-cals {
          font-size: 15px;
          color: #3C1C21;
          float: left;
          font-weight: 800;
          margin-top: 10px;
        }
      }

      .ingredient-img {
        width: 80%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        img {
          max-width: 100%;
        }
      }
      .ingredient-img-selected {
        width: 50%;
        position: absolute;
        top: 80px;
        transition: all .5s ease-out;
      }
      .ingredient-detail-selected {
        margin-left: 300px;
        margin-top: 30px;
        margin-right: 20px;
        text-align: left;
        color: #4e7026;
        transition: all .5s ease-out;
        .ingredient-title-selected {
          font-size: 18px;
          font-weight: 800;
          transition: all .5s ease-out;
        }
        .ingredient-cals-selected {
          margin-top: 20px;
          font-size: 18px;
          font-weight: 800;
          transition: all .5s ease-out;
        }
      }
    }
    .baseSauce-item {
      background: url("../../assets/img/small-bg.png");
      background-size: 100% 100%;
      width: 250px;
      height: 200px;
      position: relative;
      transition: all .5s ease-out;
      border-radius: 8px;
      border: 1px solid #e1e7e9;
      .img-wrap {
        position: relative;
        height: 100%;
        overflow: hidden;
        .baseSauce-detail {
          padding: 15px 15px;
          .baseSauce-name {
            float: left;
            text-align: left;
            font-size: 15px;
            color: #3C1C21;
            font-weight: 800;
            margin-top: 5px;
          }
          .icon {
            font-size: 25px;
            color: #ee5a00;
            float: left;
          }
          .baseSauce-cals {
            clear: both;
            font-size: 15px;
            color: #3C1C21;
            float: left;
            font-weight: 800;
          }
        }
        .baseSauce-img {
          position: absolute;
          width: 80%;
          left: 10%;
          top: 50%;
          img {
            max-width: 100%;
          }
        }
      }
      .selected {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        .baseSauce-img-selected {
          width: 40%;
          display: flex;
          img {
            width: 100%;
          }
        }
        .baseSauce-detail-selected {
          margin-top: 20px;
          text-align: left;
          color: #4e7026;
          transition: all .5s ease-out;
          font-size: 18px;
          font-weight: 800;
          width: 50%;
          display: grid;
          .icon {
            font-size: 25px;
            color: #ee5a00;
          }
        }
        .quantity {
          display: flex;
          align-items: center;
          justify-content: end;
          column-gap: 10px;
          button {
            border: none;
            background: none;
            color: #4e7026;
            font-size: 25px;
          }
          .quan-detail {
            color: #4e7026;
            font-size: 25px;
          }
        }
      }
      
    }
    .active {
      width: 520px;
      transition: all .5s ease-out;
      border: 3px solid #ee5a00;
      border-radius: 10px;
    }
  }
}


@import '../../components/Product/product2.scss'