.home-page {
  margin: 0 auto;
  padding: 0 25px;

  @media (max-width: 768px) {
    padding: 0 15px;
  }

  @media (max-width: 500px) {
    padding: 0 10px;
  }
  .carousel-container {
    .label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size-30;
      color: $text-color1;
      text-align: left;
      margin-top: 50px;

      @media only screen and (max-width: $s-size) {
        font-size: $font-size-20;
        margin-top: 30px;
      }

      .navigation-button {
        display: flex;
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
        color: $text-color1;

        .navigation-icon {
          color: $text-color2;
        }

        @media only screen and (max-width: $s-size) {
          font-size: $font-size-15;
        }
      }
    }

    .underline {
      border-bottom: 2px solid $text-color2;
      padding-bottom: 10px;
      width: 150px;
    }

    .banner {
      background-color: $bg-color2;
      margin-top: 50px;
      box-shadow: 12px 12px 20px $box-shadow-color;

      @media only screen and (max-width: $s-size) {
        margin-top: 30px;
      }
    }
  }
  .product-container {
    .label {
      margin-top: 50px;
      font-size: $font-size-30;
      color: $text-color1;
      text-align: left;
    }

    .underline {
      border-bottom: 2px solid $text-color2;
      padding-bottom: 10px;
      width: 50px;
    }

    .product-list {
      margin-top: 100px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

@import '../../components/Carousel/style.scss';
@import '../../components/Product/product1.scss'