.content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 25px;

  @media (max-width: $breakpoint-tablet) {
    padding: 0 15px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 0 10px;
  }
}

@import './Header/style.scss';
@import './Footer/style.scss';