.product-container {
  margin: auto;
  .product-header {
    background-color: #525d70;
    position: relative;
    overflow: hidden;
    height: 200px;
    display: flex;
    justify-content: center;
    .header-title {
      .title {
        color: white;
      }
    }
    .header-img {
      width: 30%;
      position: absolute;
      top: 50%;
      margin: auto;
      display: block;
    }
  }
  .product-content {
    margin-top: 30px;
    .product-box {
      column-gap: 30px;
      .individual-pizza {
        display: flex;
        .pizza-img {
          width: 30%;
          background-color: #e3ebee;
          .img {
            width: 80%;
          }
        }
        
        .pizza-content {
          width: 70%;
          background-color: #edf2f5;
          padding: 30px 50px;
          text-align: left;
          color: #4c3017;
          .title {
            font-weight: 800;
            font-size: 30px;
          }
          .content-footer {
            display: flex;
            justify-content: space-between;
            .cals {
              font-weight: 800;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
