.signIn-container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	color: $text-color1;
	margin-bottom: 50px;

	.signIn-header {
		margin-top: 50px;
		font-size: 30px;
		font-weight: 900;
		@media only screen and (max-width: 860px) {
			margin-top: 30px;
		}
	}

	.signIn-content {
		display: flex;
		justify-content: center;
		margin-top: 80px;
		@media only screen and (max-width: 860px) {
			margin-top: 0px;
		}

		.email-container {
			flex: 1;

			.email {
				text-align: left;
				display: flex;
				flex-direction: column;
				gap: 40px;
				@media only screen and (max-width: 860px) {
					gap: 20px;
				}

				.email-header {
						font-size: 1.6rem;
				}

				.email-input {
					input {
						width: 90%;
						border: none;
						background-color: transparent;
						border-bottom: 1px solid #ccd6d8;
						font-size: 20px;

						&:focus-visible {
								outline: none;
						}
					}
				}

				.password-input {
					input {
						width: 90%;
						border: none;
						background-color: transparent;
						border-bottom: 1px solid #ccd6d8;
						font-size: 20px;

						&:focus-visible {
							outline: none;
						}
					}
				}

				.show-forgot-container {
					display: flex;
					justify-content: space-between;
					color: $text-color2;
					width: 90%;
				}

				.signIn-register-container {

					display: flex;
					align-items: center;
					font-weight: 900;
					gap: 20px;

					.signIn-avatar {
						background-color: $bg-color3;
					}

					.signIn-button-container {
						margin-bottom: inherit;
						width: 30%;

						button {
							margin-bottom: inherit;
						}
					}

					.register-comment {
						width: 20%;

						@media only screen and (max-width: $s-size) {
								font-size: 0.8rem;
						}
					}

					.goto-register {
						width: 20%;
						
						@media only screen and (max-width: $s-size) {
								font-size: 0.8rem;
						}

						a {
							color: inherit;
							text-decoration: none;

							&:hover {
									text-decoration: underline;
							}

							&:active {
									color: $text-color2;
							}
						}
					}

					.signIn-avatar {
						padding: 5px;
						border-radius: 50%;
						box-shadow: 3px 5px 10px 5px #d1d1d1;
						cursor: pointer;

						@media only screen and (min-width: $x-size) {
								display: none;
						}
					}
				}
			}
		}

		.easy-access-container {
			flex: 1;
			margin-left: 30px;
			border-left: 1px solid #ccd6d8;
			padding-left: 30px;

			@media only screen and (max-width: $x-size) {
					display: none;
			}

			.easy-access {
				text-align: center;
				display: flex;
				flex-direction: column;
				gap: 40px;

				.easy-access-header {
					text-align: left;
					font-size: 1.6em;
				}

				.signIn-facebook {
					display: flex;
					justify-content: center;

					button {
						display: flex;
						align-items: center;
						justify-content: space-evenly;
						width: 50%;
						height: 50px;
						border: none;
						background-color: #3c5193;
						border-radius: 5px;
						box-shadow: 3px 5px 10px 5px #d1d1d1;
						color: $text-color3;
						cursor: pointer;

						span {
							margin-left: 10px;
							font-size: 20px;
						}
					}
				}

				.facebook-or-google {
					display: flex;
					justify-content: center;
					align-items: center;

					.border {
						border-bottom: 1px solid #ccd6d8;
						width: 20%;
					}

					span {
						margin-left: 20px;
						margin-right: 20px;
					}
				}

				.signIn-google {
					display: flex;
					justify-content: center;

					button {
						display: flex;
						align-items: center;
						justify-content: space-evenly;
						width: 50%;
						height: 50px;
						border: none;
						background-color: #ffffff;
						border-radius: 5px;
						box-shadow: 3px 5px 10px 5px #d1d1d1;
						cursor: pointer;

						span {
							margin-left: 10px;
							font-size: 20px;
						}
					}
				}
			}
		}
  }
}

@import '../../components/Button/button1.scss'