.carousel {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: inherit;

    .title {
      flex: 1;
      text-align: left;

      .title-indent {
        padding: 30px 20px;
      }

      .header-1 {
        font-size: 50px;
        color: #3c1c21;
        font-weight: 500;
        margin-bottom: 30px;

        @media only screen and (max-width: $s-size) {
          font-size: 35px
        }
      }

      span {
        color: #FCA017;
      }

      .header-2 {
        font-size: 30px;
        color: #3c1c21;
        margin-bottom: 50px;
        line-height: 40px;

        @media only screen and (max-width: $s-size) {
          font-size: 20px
        }
      }

      .header-3 {
        font-size: 15px;
        color: #3C1C21;
      }

      .price {
        font-size: 50px;
        font-weight: 500;
        color: #fca017;
        border-bottom: 2px solid #FCA017;
        text-align: right;
      }

      button {
        color: #ffffff;
        background-color: #FCA017;
        border: none;
        width: 172px;
        height: 39px;
        font-size: 20px;
        margin-top: 30px;
        border-radius: 5px;
        cursor: pointer;
      }

      @media only screen and (max-width: $breakpoint-medium) {
        width: 100%;
      }
    }

    .image {
      flex: 1;
      @media only screen and (max-width: $breakpoint-medium) {
        width: 100%;
      }
    }

    @media only screen and (max-width: $breakpoint-medium) {
      flex-direction: column;
    }
  }
}
