.radio-group {
  background-color: #e3ebee;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  .radio-title {
    color: #ee5a00;
    font-weight: bold;
  }
  .radio-option {
    display: flex;
    align-items: center;
    margin-top: 10px;
    .radio-button {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      .active {
        border: 2px solid;
      }
      .select {
        background-color: #ee5a00;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
    .radio-content {
      margin-left: 10px;
      font-size: 17px;
    }
  }
  
}