.radio-group {
  border-radius: 10px;
  width: 230px;
  padding: 9px;
  .radio-title {
    color: black;
    font-weight: bold;
    text-align: left;
  }
  .radio-option {
    display: flex;
    align-items: center;
    margin-top: 10px;
    .radio-check {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #FCA017;
    }
    .radio-content {
      margin-left: 10px;
      font-size: 15px;
      font-weight: 400;
    }
  }
  
}