$cart-L-size: 450px;
.cart {
  border-bottom: none;
  color: #4c3017;
  position: fixed;
  bottom: 0;
  right: 50px;
  z-index: 1;
  width: 450px;
  @media only screen and (max-width: 550px) {
    width: 90%;
    right: 5%;
  }
  .cart-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .small {
      background-color: #f19307;
      display: flex;
      justify-content: space-between;
      align-items: center ;
      padding: 15px 30px;
      width: 100%;
      display: flex;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .fill {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .fill-status {
          font-size: 25px;
          font-weight: 700;
          color: white;
        }
      }
      .empty {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:  20px;

        .empty-status {
          font-size: 25px;
          font-weight: 700;
          color: white;
        }
      }
      .price-toggle {
        display: flex;
        align-items: center;
        gap: 30px;
        .priceTotal {
          color: white;
          font-size: 25px;
          font-weight: 700;
        }
      }
    }
    
  }
  .cart-content {
    width: 100%;
    padding: 10px 10px;
    background-color: #FFFFFF;
    .empty-cart {
      .comment {
        color: black;
        font-size: 15px;
        font-weight: 400;
        text-align: left;
        margin-top: 30px;
        margin-left: 40px;
      }
      .cart-img {
        margin-top: 60px;
        margin-bottom: 60px;
      }
    }
    
    button {
      margin-bottom: 0px;
      width: 100%;
    }
    .cart-detail {
      display: grid;
      row-gap: 20px;
      .cart-individual {
        background-color: white;
        text-align: left;
        padding: 10px;
        display: flex;
        align-items: center;
        column-gap: 20px;
        border: 1px solid #FCA017;
        .image {
          width: 120px;
          height: 80px;
          display: flex;
          img {
            width: 100%;
          }
        }
        .content {
          color: #4c3017;
          margin: 0px;
          padding: 0px;
          width: 268px;
          .title {
            font-weight: 800;
            font-size: 18px;
          }
          .desc {
            font-size: 15px;
          }
          .final {
            display: flex;
            align-items: center;
            gap: 50px;
            .remove-edit {
              display: flex;
              align-items: center;
              column-gap: 30px;
              color: #ee5a00;
              .remove {
                font-weight: 500;
                cursor: pointer;
              }
              .edit {
                font-weight: 500;
                cursor: pointer;
              }
            }
            .final-price {
              color: #4c3017;
              font-size: 18px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}