$bg-color1: #FCA017;
$bg-color2: #e8e8e8;
$bg-color3: #ffffff;

$text-color1: #3C1C21;
$text-color2: #FCA017;
$text-color3: #ffffff;

$font-size-50: 50px;
$font-size-40: 40px;
$font-size-30: 30px;
$font-size-20: 20px;
$font-size_10: 10px;
$font-size-45: 45px;
$font-size-35: 35px;
$font-size-25: 25px;
$font-size-15: 15px;